{
    "flight": {
        "period": 60
    },
    "html": {
        "views": "/view",
        "engine": "jade"
    },
    "http": {
        "address": "0.0.0.0",
        "port": 9090
    },
    "mysql": {
        "max_connections": 10,
        "host": "127.0.0.1",
        "user": "flight",
        "password": "Superc00l",
        "database": "dump1090"
    }
}
