body {
    background-color: #f0f0f0;
    font-family: "Arial";
    font-size: 12pt;
}

.screen {
    background-color: #ffffff;
    -moz-border-radius: 15px;
    border: 1px solid #a0a0a0;
    border-radius: 15px;
    margin: 40px;
    padding: 20px;
    width: 1200px;
}

.title {
    border-color: #0000ff;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
}

.statCell {
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}

.statHeaderRow {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.statRow {
    border-width: 0px;
    font-family: "Courier New";
    font-size: 12px;
    text-align: left;
}

.statRow:nth-child(even) {
    background-color: #addfff;
}

.statRow:nth-child(odd) {
    background-color: #ffffff;
}

.statTable {
    border: none;
    border-collapse: collapse;
    color: #000000;
    margin-top: 20px;
    text-align: left;
    width: 100%;
}
