doctype html
html
  head
    title Flight
    link(rel="stylesheet", href="/stylesheet/index.css")
    script(src="/script/index.js")
  body
    span= 'Flight'
    table(class="flight")
      thead
        tr
          for value in header
            th= value
      tbody
        for flight in flights
          tr
            each val, index in flight
              td= val
