doctype html
html
  head
    title flight
    link(rel="stylesheet", href="/stylesheet/index.css")
    script(src="/script/index.js")
  body
    span= text
    for flight in flights
        li= flight.flight
